@model AppData.Gia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongChiTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNgayThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNgayThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaCuoiTuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaCuoiTuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBanDem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBanDem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNgayLe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNgayLe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaGia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
